body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contentContainer {
    width: 75vw;
    height: 85vh;
    overflow: hidden;
    cursor: pointer;
    background-color: greenyellow;
}
#thing {
    position: relative;
    left: 34vw;
    top: 30vh;
    transition: left 1s ease-in, top 1s ease-in;
    height: 10vh;
    width: 6vw;
    z-index: 1;
}

.building img {
    height: 25vh;
    width: 15vw;
}

.b2 {
    position: relative;
    left: 34vw;
    top: 20vh;
    z-index: 0;
}

.b3 {
    position: relative;
    left: 55vw;
    top: -40vh;
    z-index: 0;
}

.b4 {
    position: relative;
    left: 10vw;
    top: -50vh;
    z-index: 0;
}

.b4 {
    position: relative;
    left: 10vw;
    top: -50vh;
    z-index: 0;
}

.b5 {
    position: relative;
    left: 38vw;
    top: -110vh;
    z-index: 0;
}
