* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contentContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: greenyellow;
}
#thing {
    background-image: url("https://shanewils.github.io/image/frame_00_delay-0.08s-removebg-preview.png");
    background-position: center;
    background-size: cover;
    position: relative;
    left: 48vw;
    top: 43vh;
    transition: left 1s ease-in, top 1s ease-in;
    height: 10vh;
    width: 6vw;
    z-index: 1;
    transform: none;
    border:none
}

.building img {
    height: 25vh;
    width: 15vw;
}

.b1 {
    position: relative;
    left:-80vw;
    top: 0vh;
    transform: scaleX(-1);
}

.b2 {
    position: relative;
    left: 67vw;
    top: 30vh;
    z-index: 0;
}

.b3 {
    position: relative;
    left: 75vw;
    top: -43vh;
    z-index: 0;
    
}

.b4 {
    position: relative;
    left: 10vw;
    top: -50vh;
    z-index: 0;
}

.b4 {
    position: relative;
    left: -80vw;
    top: -20vh;
    z-index: 0;
    transform: scaleX(-1);
}

.b5 {
    position: relative;
    left:-25vw;
    top: -85vh;
    z-index: 0;
}
